:root {
  --primaryColor: #062863;
  --white: #ffffff;
  --inputBg: #edf2f7;
  --inputText: #1a202c;
  --textColor: #4a5568;
  --btnbg: #0d60d8;
  --footHoverColor: rgb(179, 179, 179);
  --footColor: rgb(255, 255, 255);
  --h1Color: #083e9e;
  --createBtn: rgb(8, 62, 158);
  --error: red;
}

.loginPage,
.signUpPage {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 0rem 0 3rem;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primaryBg);
}

.loginCont {
  width: 91.666667%;
  max-width: 28rem;
  padding: 2.5rem 2.5rem 3rem 2.5rem;
  /* background-color: var(--white); */
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  flex-direction: column;
  line-height: 1.5;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formHead h1 {
  font-size: 1.5rem;
  color: black;
}

.input {
  background-color: var(--inputBg);
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 0.25rem;
}

.button {
  width: 100%;
  background-color: var(--btnColor) !important;
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  padding: 1rem 2.5rem 0.75rem 2.5rem;
  font-weight: 700;
}

.footLink {
  color: black;
  font-size: 0.9rem;
}

/* .forget {
  margin-top: 1rem;
} */

.error {
  color: var(--error);
  font-size: 0.8rem;
  font-weight: 400;
  font-family: Karla, sans-serif;
}

/* RESPONSIVENESS  */
@media screen and (max-width: 768px) {
  .formHead h1 {
    font-size: 1.25rem;
  }

  .input,
  .referralSource {
    padding: 0.75rem 0.5rem 0.75rem 0.75rem;
  }

  .footLink {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .loginCont {
    padding: 2rem 0 2.5rem 0;
  }
}
