// COLORS
$color-text-1: #f7f7f7;
$color-text-2: #eee;

$color-brown-1: #ad8769;
$color-brown-2: #775942;
$color-brown-3: #5f4836;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// BREAKPOINTS
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

