// COLORS
$color-text-1: #262626d9;
$color-text-2: #4f4f4f;
$color-text-3: #313131;
$color-text-4: #b5b5b5;

$color-brown-1: #ad8769;
$color-brown-2: #775942;
$color-brown-3: #5f4836;

$color-pink-1: #d6c1b1;
$color-red: #ff0000;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// BREAKPOINTS
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

