.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  font-family: "Inter", sans-serif;
  background-color: white;
  font-size: 20px;
  line-height: 30px;

  h2 {
    font-family: "Press Start 2P", cursive;
    font-size: 20px;
    line-height: 30px;
  }
  h1 {
    font-family: "Inter", sans-serif;
  }
  .hamburger {
    display: none;
    z-index: 1500;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
    color: white;
    .line {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 28px;
      height: 3px;
      background: black;
      margin: 6px auto;
      display: block;
    }
  }

  .navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    button {
      background-color: var(--btnColor);
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 15px 30px;
      border-radius: 10px;
      color: #fff;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      line-height: 30px;
    }
    .login {
      background: none;
      color: black;
      font-weight: 600;
    }
  }
  $layout-breakpoint: 700px;

  @media (max-width: $layout-breakpoint) {
    & {
      padding: 40px 25px;
    }
    h2 {
      font-size: 16px;
      line-height: 25px;
    }
    .hamburger {
      display: block;
    }
    .navigation-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #ffffff;
      z-index: 4;
      transition: all 0.5s ease;
      right: -100%;
    }
    .navigation-menu.expanded {
      right: 0;
    }
    .hamburger {
      display: block;
      cursor: pointer;
    }

    .hamburger.active {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .hamburger.active .line:first-child {
      -webkit-transform: translateY(5px);
      -moz-transform: translateY(5px);
      transform: translateY(5px);
    }

    .hamburger.active .line:nth-child(2) {
      width: 0;
    }

    .hamburger.active .line:nth-child(3) {
      -webkit-transform: translateY(-13px) rotate(90deg);
      -moz-transform: translateY(-13px) rotate(90deg);
      transform: translateY(-13px) rotate(90deg);
    }
  }
}
