@use "../abstracts" as *;

.recentPage {
  position: relative;
  background: url("../../../assets/images/recent-urls-background-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;

  .noRecent {
    .imageContainer {
      width: 175px;
    }

    .icon-box {
      background-color: $color-brown-1;
      border-radius: 0.9rem;
      padding: 10px 20px;
      width: 150px;
      text-align: center;
      color: $color-white;
      text-decoration: none;
      transition: all 0.3 ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;

      &:hover {
        background-color: $color-brown-2;
      }
      .home {
        color: $color-white;
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: $breakpoints-md) {
    & {
      background: url("../../../assets/images/recent-urls-background-mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
