.recentPage {
  position: relative;
  background: url("../../assets/images/recent-urls-background-desktop.eeddd0b1.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: $breakpoints-md) {
    & {
      background: url("../../assets/images/recent-urls-background-mobile.51a0824d.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.mainUrl {
  margin-bottom: 5px;
}

.shortenedUrl {
  margin-bottom: 10px;
}
