.statPage {
  background: url("../../assets/images/detailed-url-background.a58ba60e.png");
  background-repeat: no-repeat;
  background-size: cover;

  .cont {
    .back {
      color: $color-white;
      background-color: $color-brown-1;
      text-decoration: none;
      padding: 10px 30px;
      border-radius: 0.8rem;
      font-weight: 700;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $color-brown-3;
      }
    }
  }

  h3 {
    color: $color-text-1;
  }

  .statCont {
    .dock-image {
      width: 25px;
      height: 25px;
    }

    .urls p {
      a {
        color: $color-brown-1;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .clicks {
      color: $color-text-2;
    }

    .noOfClicks {
      background-color: $color-pink-1;
      padding: 10px 30px;
      border-radius: 1rem;
      display: inline-block;
      font-size: 30px;
      color: $color-text-3;
      text-align: center;
    }
  }

  .linksContainer {
    height: 300px;
    border-radius: 1rem;
    background: $color-white;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;

      td,
      th {
        border-bottom: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        &:nth-child(1) {
          text-align: center;
          width: 10%;
        }
        &:nth-child(2) {
          text-align: center;
          width: 40%;
        }
        &:nth-child(3) {
          width: 50%;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoints-md) {
    & {
      background: url("../../assets/images/detailed-url-background-mobile.f78e6a31.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .imageContainer {
      display: none;
    }
  }
}
