.statPage {
  background: url("../../assets/images/detailed-url-background.a58ba60e.png");
  background-repeat: no-repeat;
  background-size: cover;

  .cont {
    .back {
      color: $color-white;
      background-color: $color-brown-1;
      text-decoration: none;
      padding: 10px 30px;
      border-radius: 0.8rem;
      font-weight: 700;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $color-brown-3;
      }
    }
  }

  h3 {
    color: $color-text-1;
  }

  .statCont {
    .urls p {
      word-wrap: break-word;
    }
  }

  .noOfClicks {
    background-color: var(--bgImageColors);
    padding: 10px 30px;
    border-radius: 1rem;
    display: inline-block;
    font-size: 30px;
  }

  .linksContainer {
    height: 300px;
    border-radius: 1rem;
    background: white;
    overflow: scroll;

    table {
      border-collapse: collapse;
      width: 100%;
      margin: 0;
      border-spacing: 0;
    }
  }

  @media screen and (max-width: $breakpoints-md) {
    & {
      background: url("../../assets/images/detailed-url-background-mobile.f78e6a31.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .imageContainer {
      display: none;
    }

    .statCont {
      .urls p {
        word-wrap: break-word;
        span {
          display: block;
          // width: 150px;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
