.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  .overLay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .modalContainer {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 25px;
    padding-bottom: 35px;
    z-index: 3;
    .closeBtn {
      display: flex;
      justify-content: center;
      align-self: flex-end;
      button {
        background: none;
        border: none;
        outline: none;
      }
      .close {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 10px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
    }
    .body {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .inputCopy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid var(--bgImageColors);
        justify-content: space-between;
        border-radius: 10px;
        overflow: hidden;
        input {
          flex: 1;
          width: 100%;
          border: none;
          outline: none;
          border-radius: 10px 0 0 10px;
          height: 40px;
          padding-left: 1rem;
          border-right: 1px solid var(--bgImageColors);
          font-size: 16px;
          font-family: inherit;
          font-weight: 600;
        }
        .copyIcon {
          flex: 0.2;
          background: #775942;
          height: 40px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          padding: 5px;
          cursor: pointer;
          .coppy {
            color: white;
            width: 20px;
            height: 20px;
          }
        }
      }
      span {
        position: absolute;
        background-color: var(--bgImageColors);
        color: black;
        top: 44px;
        right: 8px;
        z-index: 10;
        padding: 5px;
        border-radius: 2px;
        font-family: inherit;
        font-size: 14px;
      }
    }
    .footer {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        padding: 1rem;
        color: black;
        font-size: 16px;
        font-weight: 600;
        text-decoration-color: var(--bgImageColors);
        &.out {
          background-color: var(--primaryBg);
          border: 1px solid var(--btnColor);
          border-radius: 5px;
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  $layout-breakpoint: 700px;

  @media (max-width: $layout-breakpoint) {
    .modalContainer {
      position: absolute;
      top: 50%;
      transform: translateY(-70%);
      max-width: 90%;
    }
  }
}
