.featureType {
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  background-color: #f9f9f9;
  max-width: 352px;
  margin: 0 25px 45px;

  h5 {
    color: $color-text-6;
    font-size: 20px;
    font-weight: 700;
  }

  p {
    color: $color-text-5;
  }

  .icon {
    font-size: 40px;
    background-color: $color-pink-2;
    padding: 9px;
    border-radius: 5px;
  }

  @media screen and (max-width: $breakpoints-lg) {
    & {
      text-align: center;
    }
  }
}
