@import "/src/styles/normalize.css";
@import "/src/styles/css/style.css";

:root {
  --primaryBg: #fffcfa;
  --bgImageColors: #c7ab96;
  --btnColor: #775942;
  --greyTextColor: #7a7a7a;
  --lightGreyTextColor: #b5b5b5;
  --blackTextColor: #3b3b3b;
  --lightBlackTextColor: #2b2b2b;
  --modalBg: #9f9f9fbb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

