@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif; }
  .modal .overLay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; }
  .modal .modalContainer {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 25px;
    padding-bottom: 35px;
    z-index: 3; }
    .modal .modalContainer .closeBtn {
      display: flex;
      justify-content: center;
      align-self: flex-end; }
      .modal .modalContainer .closeBtn button {
        background: none;
        border: none;
        outline: none; }
      .modal .modalContainer .closeBtn .close {
        width: 20px;
        height: 20px;
        cursor: pointer; }
    .modal .modalContainer .title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 10px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 500; }
    .modal .modalContainer .body {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .modal .modalContainer .body .inputCopy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid var(--bgImageColors);
        justify-content: space-between;
        border-radius: 10px;
        overflow: hidden; }
        .modal .modalContainer .body .inputCopy input {
          flex: 1;
          width: 100%;
          border: none;
          outline: none;
          border-radius: 10px 0 0 10px;
          height: 40px;
          padding-left: 1rem;
          border-right: 1px solid var(--bgImageColors);
          font-size: 16px;
          font-family: inherit;
          font-weight: 600; }
        .modal .modalContainer .body .inputCopy .copyIcon {
          flex: 0.2;
          background: #775942;
          height: 40px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          padding: 5px;
          cursor: pointer; }
          .modal .modalContainer .body .inputCopy .copyIcon .coppy {
            color: white;
            width: 20px;
            height: 20px; }
      .modal .modalContainer .body span {
        position: absolute;
        background-color: var(--bgImageColors);
        color: black;
        top: 44px;
        right: 8px;
        z-index: 10;
        padding: 5px;
        border-radius: 2px;
        font-family: inherit;
        font-size: 14px; }
    .modal .modalContainer .footer {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .modal .modalContainer .footer a {
        padding: 1rem;
        color: black;
        font-size: 16px;
        font-weight: 600;
        text-decoration-color: var(--bgImageColors); }
        .modal .modalContainer .footer a.out {
          background-color: var(--primaryBg);
          border: 1px solid var(--btnColor);
          border-radius: 5px;
          text-decoration: none; }
        .modal .modalContainer .footer a:hover {
          text-decoration: none; }
  @media (max-width: 700px) {
    .modal .modalContainer {
      position: absolute;
      top: 50%;
      transform: translateY(-70%);
      max-width: 90%; } }

.recentList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 100%; }
  .recentList .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 3rem;
    border-bottom: 1px solid var(--greyTextColor);
    padding-bottom: 5px;
    flex-direction: row; }
    .recentList .container .rightContents {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1; }
      .recentList .container .rightContents .left .time {
        margin-top: 1rem; }
      .recentList .container .rightContents .right {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center; }
        .recentList .container .rightContents .right .copy {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 1px;
          position: relative; }
          .recentList .container .rightContents .right .copy span {
            display: none;
            background-color: var(--bgImageColors);
            padding: 2px;
            border-radius: 0.3em;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: ease-in 2s;
            position: absolute;
            top: 101%;
            color: #fff; }
        .recentList .container .rightContents .right button {
          padding: 1em;
          border: none;
          border-radius: 0.5em;
          background-color: var(--btnColor);
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.4em;
          position: relative; }
        .recentList .container .rightContents .right .copied {
          position: relative; }
  @media (max-width: 700px) {
    .recentList .rightContents {
      flex-direction: column; } }

.recentPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 0 1rem;
  padding-top: 100px;
  position: relative;
  background-color: var(--primaryBg);
  background-image: url("../Assets/Images/_Path_ (2).png"), url("../Assets/Images/_Path_ (3).png");
  background-position: right -2% top -100%, left -2% bottom -100%;
  background-size: 15%, 15%, 15%, 15%;
  background-repeat: no-repeat; }
  @media (max-width: 700px) {
    .recentPage .recentPage {
      padding: 0 1rem; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  font-family: "Inter", sans-serif;
  background-color: white;
  font-size: 20px;
  line-height: 30px; }
  .header h2 {
    font-family: "Press Start 2P", cursive;
    font-size: 20px;
    line-height: 30px; }
  .header h1 {
    font-family: "Inter", sans-serif; }
  .header .hamburger {
    display: none;
    z-index: 1500;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
    color: white; }
    .header .hamburger .line {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 28px;
      height: 3px;
      background: black;
      margin: 6px auto;
      display: block; }
  .header .navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .header .navigation-menu button {
      background-color: var(--btnColor);
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 15px 30px;
      border-radius: 10px;
      color: #fff;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      line-height: 30px; }
    .header .navigation-menu .login {
      background: none;
      color: black;
      font-weight: 600; }
  @media (max-width: 700px) {
    .header {
      padding: 40px 25px; }
    .header h2 {
      font-size: 16px;
      line-height: 25px; }
    .header .hamburger {
      display: block; }
    .header .navigation-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #ffffff;
      z-index: 4;
      transition: all 0.5s ease;
      right: -100%; }
    .header .navigation-menu.expanded {
      right: 0; }
    .header .hamburger {
      display: block;
      cursor: pointer; }
    .header .hamburger.active {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header .hamburger.active .line:first-child {
      -webkit-transform: translateY(5px);
      -moz-transform: translateY(5px);
      transform: translateY(5px); }
    .header .hamburger.active .line:nth-child(2) {
      width: 0; }
    .header .hamburger.active .line:nth-child(3) {
      -webkit-transform: translateY(-13px) rotate(90deg);
      -moz-transform: translateY(-13px) rotate(90deg);
      transform: translateY(-13px) rotate(90deg); } }

.homePage {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primaryBg);
  background-image: url("../Assets/Images/_Path_ (4).png");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: border-box;
  background-origin: border-box;
  padding: 0 100px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }
  .homePage .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem; }
    .homePage .container .leftSection {
      font-family: "Inter", sans-serif;
      flex: 1;
      background-color: #fff;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      max-width: 400px; }
      .homePage .container .leftSection form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem; }
        .homePage .container .leftSection form .longUrl {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0.5rem; }
          .homePage .container .leftSection form .longUrl label {
            font-family: inherit;
            font-size: 16px;
            font-weight: 600; }
            .homePage .container .leftSection form .longUrl label .link {
              margin-right: 10px; }
          .homePage .container .leftSection form .longUrl input {
            width: 100%;
            border: 1px solid var(--bgImageColors);
            outline: none;
            border-radius: 5px;
            height: 40px;
            padding-left: 1rem;
            font-family: inherit; }
            .homePage .container .leftSection form .longUrl input::placeholder {
              font-family: inherit;
              font-size: 14px; }
        .homePage .container .leftSection form .alias {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0.5rem; }
          .homePage .container .leftSection form .alias .aliasInput {
            width: 100%;
            display: flex;
            border: 1px solid var(--bgImageColors);
            justify-content: space-between;
            border-radius: 5px;
            overflow: hidden; }
            .homePage .container .leftSection form .alias .aliasInput input {
              flex: 1;
              width: 100%;
              border: none;
              outline: none;
              height: 40px;
              padding-left: 1rem;
              width: 100%;
              font-family: inherit; }
              .homePage .container .leftSection form .alias .aliasInput input::placeholder {
                font-family: inherit;
                font-size: 14px; }
            .homePage .container .leftSection form .alias .aliasInput button {
              flex: 0.2;
              background: none;
              border: none;
              border-left: 1px solid var(--bgImageColors);
              font-family: inherit;
              font-size: 14px; }
        .homePage .container .leftSection form .buttons {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          gap: 10px;
          margin-top: 10px; }
          .homePage .container .leftSection form .buttons a {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inherit;
            text-decoration: none;
            color: #000; }
          .homePage .container .leftSection form .buttons button {
            flex: 0.5;
            width: 100px;
            background-color: var(--btnColor);
            border: none;
            padding: 10px 10px;
            border-radius: 5px;
            flex: 1;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            font-family: inherit;
            transition: all 0.3s ease-in-out; }
            .homePage .container .leftSection form .buttons button:hover {
              background-color: var(--btnHoverColor);
              color: var(--btnColor);
              font-weight: 600;
              border: 1px solid var(--btnColor); }
            .homePage .container .leftSection form .buttons button:active {
              transform: scale(0.9); }
    .homePage .container .rightSection {
      flex: 1;
      background-color: transparent;
      width: 100%;
      max-width: 400px; }
      .homePage .container .rightSection img {
        width: 100%; }
  @media screen and (max-width: 1050px) {
    .homePage {
      padding: 0 40px;
      padding-top: 100px; } }
  @media (max-width: 800px) {
    .homePage {
      padding: 0 40px;
      padding-top: 150px;
      padding-bottom: 150px; }
    .homePage .container {
      flex-direction: column-reverse; } }
