@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.modalSection {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px; }
  .modalSection .overLay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10; }
  .modalSection .modalContainer {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 25px;
    padding-bottom: 35px;
    z-index: 15;
    position: relative; }
    .modalSection .modalContainer .closeBtn {
      display: flex;
      justify-content: center;
      align-self: flex-end; }
      .modalSection .modalContainer .closeBtn button {
        background: none;
        border: none;
        outline: none; }
      .modalSection .modalContainer .closeBtn .close {
        width: 20px;
        height: 20px;
        cursor: pointer; }
    .modalSection .modalContainer .title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 10px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 500; }
    .modalSection .modalContainer .body {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .modalSection .modalContainer .body .inputCopy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid var(--bgImageColors);
        justify-content: space-between;
        border-radius: 10px;
        overflow: hidden; }
        .modalSection .modalContainer .body .inputCopy input {
          flex: 1;
          width: 100%;
          border: none;
          outline: none;
          border-radius: 10px 0 0 10px;
          height: 40px;
          padding-left: 1rem;
          border-right: 1px solid var(--bgImageColors);
          font-size: 16px;
          font-family: inherit;
          font-weight: 600; }
        .modalSection .modalContainer .body .inputCopy .copyIcon {
          flex: 0.2;
          background: #775942;
          height: 40px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          padding: 5px;
          cursor: pointer; }
          .modalSection .modalContainer .body .inputCopy .copyIcon .coppy {
            color: white;
            width: 20px;
            height: 20px; }
      .modalSection .modalContainer .body span {
        position: absolute;
        background-color: var(--bgImageColors);
        color: black;
        top: 44px;
        right: 8px;
        z-index: 10;
        padding: 5px;
        border-radius: 2px;
        font-family: inherit;
        font-size: 14px; }
    .modalSection .modalContainer .footer {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .modalSection .modalContainer .footer a {
        padding: 1rem;
        color: black;
        font-size: 16px;
        font-weight: 600;
        text-decoration-color: var(--bgImageColors); }
        .modalSection .modalContainer .footer a.out {
          background-color: var(--primaryBg);
          border: 1px solid var(--btnColor);
          border-radius: 5px;
          text-decoration: none; }
        .modalSection .modalContainer .footer a:hover {
          text-decoration: none; }

.formPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--primaryBg); }
  .formPage .loginCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 91.666667%;
    max-width: 28rem;
    padding: 2.5rem 2.5rem 3rem 2.5rem; }
    .formPage .loginCont .formHead h1 {
      font-size: 1.5rem; }
    .formPage .loginCont .formCont input {
      background-color: #a88484;
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: 0.25rem; }
    .formPage .loginCont .formCont button {
      width: 100%;
      background-color: var(--btnColor) !important;
      color: var(--white);
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      white-space: nowrap;
      text-align: center;
      padding: 1rem 2.5rem 0.75rem 2.5rem;
      font-weight: 700; }
    .formPage .loginCont .formCont .error {
      color: var(--error);
      font-size: 0.8rem;
      font-weight: 400;
      font-family: Karla, sans-serif; }
  .formPage .footLink {
    color: black;
    font-size: 0.9rem; }
  @media screen and (max-width: 768px) {
    .formPage .loginCont {
      padding: 2rem 0 2.5rem 0; }
      .formPage .loginCont .formHead h1 {
        font-size: 1.25rem; } }

.recentList {
  width: 100%; }
  .recentList .containerRecent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1.3rem 2rem;
    border-bottom: 1px solid var(--greyTextColor);
    flex-direction: row; }
    .recentList .containerRecent .rightContents {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1; }
      .recentList .containerRecent .rightContents .left,
      .recentList .containerRecent .rightContents .time {
        margin-bottom: 0; }
      .recentList .containerRecent .rightContents .right {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center; }
        .recentList .containerRecent .rightContents .right .copy {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 1px;
          position: relative; }
          .recentList .containerRecent .rightContents .right .copy span {
            display: none;
            background-color: var(--bgImageColors);
            padding: 2px;
            border-radius: 0.3em;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: ease-in 2s;
            position: absolute;
            top: 101%;
            color: #fff; }
        .recentList .containerRecent .rightContents .right .stat-btn {
          padding: 10px 20px;
          border: 1px solid var(--btnColor);
          border-radius: 0.5em;
          color: var(--btnColor);
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.4em;
          position: relative; }
        .recentList .containerRecent .rightContents .right .copied {
          padding: 10px 20px;
          border: 1px solid transparent;
          border-radius: 0.5em;
          background-color: var(--btnColor);
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.4em;
          position: relative; }
  @media (max-width: 768px) {
    .recentList .containerRecent .rightContents {
      flex-direction: column;
      align-items: flex-start; } }

.recentPage {
  position: relative;
  background: url("../../assets/images/recent-urls-background-desktop.eeddd0b1.png");
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .recentPage {
      background: url("../../assets/images/recent-urls-background-mobile.51a0824d.png");
      background-repeat: no-repeat;
      background-size: cover; } }

.mainUrl {
  margin-bottom: 5px; }

.shortenedUrl {
  margin-bottom: 10px; }

.header {
  padding: 20px 0px; }
  .header .hamburger {
    display: none;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s; }
    .header .hamburger .line {
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      width: 28px;
      height: 3px;
      background: #000;
      margin: 6px auto; }
  .header .navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .header .navigation-menu button {
      background-color: var(--btnColor);
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 15px 30px;
      border-radius: 10px;
      color: #fff;
      font-size: 18px; }
    .header .navigation-menu .login {
      background: none;
      color: black;
      font-weight: 600; }
  @media screen and (max-width: 768px) {
    .header {
      padding: 25px 0px; }
    .header .hamburger {
      display: block; }
    .header .navigation-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--primaryBg);
      z-index: 4;
      transition: all 0.5s ease;
      right: -100%; }
    .header .navigation-menu.expanded {
      right: 0; }
    .header .hamburger {
      display: block;
      cursor: pointer; }
    .header .hamburger.active {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg); }
    .header .hamburger.active .line:first-child {
      -webkit-transform: translateY(5px);
      -moz-transform: translateY(5px);
      transform: translateY(5px); }
    .header .hamburger.active .line:nth-child(2) {
      width: 0; }
    .header .hamburger.active .line:nth-child(3) {
      -webkit-transform: translateY(-13px) rotate(90deg);
      -moz-transform: translateY(-13px) rotate(90deg);
      transform: translateY(-13px) rotate(90deg); } }

.homePage {
  background-color: var(--primaryBg);
  position: relative; }
  .homePage .homeContainer .leftSection {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px; }
    .homePage .homeContainer .leftSection form .longUrl label {
      font-weight: 600; }
      .homePage .homeContainer .leftSection form .longUrl label .link {
        margin-right: 10px; }
    .homePage .homeContainer .leftSection form .longUrl input {
      width: 100%;
      border: 1px solid var(--bgImageColors);
      outline: none;
      border-radius: 5px;
      height: 40px;
      padding: 0 1rem; }
      .homePage .homeContainer .leftSection form .longUrl input::placeholder {
        font-size: 15px; }
    .homePage .homeContainer .leftSection form .alias label {
      font-weight: 600; }
      .homePage .homeContainer .leftSection form .alias label .link {
        margin-right: 10px; }
    .homePage .homeContainer .leftSection form .alias .aliasInput {
      width: 100%;
      display: flex;
      border: 1px solid var(--bgImageColors);
      justify-content: space-between;
      border-radius: 5px;
      overflow: hidden; }
      .homePage .homeContainer .leftSection form .alias .aliasInput input {
        flex: 1;
        width: 100%;
        border: none;
        outline: none;
        height: 40px;
        padding: 0 1rem; }
        .homePage .homeContainer .leftSection form .alias .aliasInput input::placeholder {
          font-size: 15px; }
      .homePage .homeContainer .leftSection form .alias .aliasInput button {
        flex: 0.2;
        background: none;
        border: none;
        border-left: 1px solid var(--bgImageColors);
        font-family: inherit;
        font-size: 14px; }
    .homePage .homeContainer .leftSection form .buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      gap: 10px;
      margin-top: 10px; }
      .homePage .homeContainer .leftSection form .buttons a {
        flex: 1;
        text-align: center;
        color: #000;
        font-weight: 600; }
      .homePage .homeContainer .leftSection form .buttons button {
        width: 100px;
        background-color: var(--btnColor);
        border: 1px solid transparent;
        padding: 10px 10px;
        border-radius: 5px;
        flex: 1;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out; }
        .homePage .homeContainer .leftSection form .buttons button:hover {
          background-color: var(--btnHoverColor);
          color: var(--btnColor);
          font-weight: 600;
          border: 1px solid var(--btnColor); }
        .homePage .homeContainer .leftSection form .buttons button:active {
          transform: scale(0.9); }
  .homePage .homeContainer .rightSection {
    flex: 1;
    background-color: transparent;
    width: 100%;
    max-width: 400px; }
    .homePage .homeContainer .rightSection img {
      width: 100%; }
  @media (max-width: 768px) {
    .homePage .homeContainer {
      flex-direction: column-reverse;
      padding-bottom: 100px; } }
